# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Production build output
.next/

# Next.js static files
out/

# Vercel build output
.vercel/
.vercel_build_output/

# Local environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Next.js Cache
.next/cache/

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.tmp
*.temp

# NPM package-lock
package-lock.json
